@import url("https://fonts.cdnfonts.com/css/morgalen");
@import url("https://fonts.cdnfonts.com/css/astone-nouvea");

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Instrument+Serif:ital@0;1&family=JetBrains+Mono&family=Josefin+Sans&family=Newsreader:ital,opsz,wght@0,6..72,300;0,6..72,400;1,6..72,300;1,6..72,400&display=swap");


/* ==================================================
   FICHE PRINCIPALE
================================================== */

/* ==================================================
   VARIABLES ET COULEURS DE LA FICHE
================================================== */

lei,
lei *,
.lolo,
.lolo * {
  --accent0: #1f2d0abf !important;
  --accent1: #393012 !important;
  --accent2: #c5b876ad !important;
  --accent3: #67851e9c !important;
  --accent4: #3e4113 !important;
  --accent5: #191919 !important;
}


/* ==================================================
   AJUSTEMENTS DU TEMPLATE FORUMACTIF
================================================== */

lei u3,
lei u4 {
  text-shadow: var(--text-shadow);
}

lei m1,
.lolo m1 {
  color: var(--accent3) !important;
}

lei m2 {
  color: var(--textColor3);
}

lei t1,
lei tbox {
  background:
    linear-gradient(#191919bf, #191919bf),
    url("https://zupimages.net/up/26/29/fdbs.jpg") center / cover fixed !important;
}

/* ==================================================
   STRUCTURE GÉNÉRALE
================================================== */

.lore-sheet .lore-content,
.lore-sheet blockquote,
.lore-sheet .lore-history-wrapper {
  color: #8a8a7e;
  font: 14px/1.7 "Bitter", serif !important;
}

.lore-profile-row {
  display: flex;
  gap: .5em;
  height: 350px;
}

/* ==================================================
   CHAMPS DU FORMULAIRE
================================================== */

.lore-field {
  display: flex;
  gap: 1em;
  margin: 2em 0;
}

.lore-field-label,
.lore-field-number,
.lore-field-data {
  font-family: "JetBrains Mono", monospace;
}

.lore-field-label {
  color: #c5b876;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.lore-field-number {
  margin-right: 6px;
  color: #3e4113;
  font-size: 10px;
}

.lore-field-text,
.lore-field-data {
  flex: 1;
}

.lore-field-data {
  font-size: 14px;
}

.lore-highlight {
  color: #c5b876;
}

.lore-magazine {
  color: #9a9a8a;
  font-family: "Josefin Sans", sans-serif;
}

lotab {
  display: inline-block;
  width: 2.5em;
}
